@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<header>
  <nav>
    <ul>
      <li><a asp-controller="Home" asp-action="Index">Melody.Web</a></li>
      <li><a asp-controller="Home" asp-action="About">About</a></li>
      <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
    <form>
      <input type="search" />
      <button>Search</button>
    </form>
    @await Html.PartialAsync("_LoginPartial")
  </nav>
</header>
<section id="content">
  <nav>
    <ul>
      <li><a asp-controller="Home" asp-action="Index">Home</a></li>
      <li><a asp-controller="Products" asp-action="Index">Products</a></li>
      <li><a asp-controller="Products" asp-action="Crochet">Crochet</a></li>
      <li>Jellyfish</li>
    </ul>
  </nav>
  <section id="product-section">
    <article>
      <img src="http://dummyimage.com/650x350/9/f.png" />
      <img src="http://dummyimage.com/250x200/9/f.png" />
      <img src="http://dummyimage.com/250x200/9/f.png" />
      <img src="http://dummyimage.com/250x200/9/f.png" />
      <img src="http://dummyimage.com/250x200/9/f.png" />
    </article>
    <aside>
      <h2><strong>Crochet Jellyfish</strong></h2>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae mattis
        justo. Nullam et pharetra erat. Aliquam ut mi sodales, rhoncus tortor ut,
        aliquet velit. Donec vehicula id sem eu maximus. Fusce nec eros erat. Sed
        velit elit, vestibulum ut mi aliquet, finibus vestibulum orci. Phasellus
        varius eleifend justo vitae vestibulum.
      </div>
      <form>
        <label for="cboColor1">First Color</label>
        <select id="cboColor1">
          <option value="red">Red</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
        </select>
        <label for="cboColor2">Second Color</label>
        <select id="cboColor2">
          <option value="red">Red</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
        </select>
        <label for="spnQuantity">Quantity</label>
        <input id="spnQuantity" type="number" min="1" />
        <input type="button" value="Buy Now" />
      </form>
      <button>Facebook</button>
      <button>Twitter</button>
      <button>Pinterest</button>
    </aside>
  </section>
  <section>
    <nav>
      <ul>
        <li>Reviews</li>
        <li>Similar Products</li>
      </ul>
    </nav>
    <div id="reviews">
      <h3>Reviews</h3>
      <article>
        <img src="http://dummyimage.com/200/9/f.png" />
        <h4>Sally Porter</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis
          elementum ante, vel porttitor arcu. Donec quam magna, euismod sed
          tincidunt ac, porta non dolor. Phasellus egestas augue sit amet ex
          eleifend, vulputate iaculis nisl interdum. Sed ac nunc nisi.
          Maecenas molestie nec orci non eleifend. Aenean ultrices condimentum
          quam non malesuada. Praesent fringilla aliquam vulputate. Nunc
          libero magna, condimentum at posuere vel, vehicula eu ligula. Duis
          feugiat, mi eget aliquam fermentum, ex mauris fringilla diam, eu
          aliquam tellus turpis vel odio. Phasellus imperdiet erat at risus
          congue, vel ullamcorper massa pretium. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
      </article>
      <article>
        <img src="http://dummyimage.com/200/9/f.png" />
        <h4>Reza Hashku</h4>
        <p>
          Integer vel quam in justo dapibus pharetra. Nullam velit metus,
          luctus et ipsum a, iaculis pulvinar lacus. Aenean blandit ut tortor
          et pellentesque. Vestibulum sollicitudin, orci id volutpat mattis,
          erat dui lobortis urna, iaculis pretium sem odio fringilla urna.
          Quisque euismod rhoncus augue sit amet sollicitudin. Nunc egestas
          blandit neque eget laoreet. Nunc rhoncus tortor eu ligula hendrerit,
          vel ultricies arcu varius. Fusce pellentesque convallis felis, vel
          vulputate sapien efficitur nec. Nullam sagittis efficitur bibendum.
          Sed sit amet turpis tempus, convallis velit vitae, volutpat sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Maecenas in nunc posuere, bibendum nunc
          commodo, cursus purus. Praesent nec augue molestie, molestie orci
          sed, imperdiet lorem. Phasellus nisi urna, ullamcorper quis neque
          vestibulum, iaculis mattis sapien. Ut rutrum congue lorem in mollis.
          In ut neque eu metus eleifend condimentum.
        </p>
      </article>
      <article>
        <img src="http://dummyimage.com/200/9/f.png" />
        <h4>Valerie Starling</h4>
        <p>
          Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Pellentesque molestie elit a ligula congue
          dictum. Nulla non mattis dui, non lacinia nisl. Nam laoreet sit amet
          metus et faucibus. Sed ultrices ullamcorper turpis, vel venenatis
          mauris volutpat et. Aenean gravida quam sed augue pulvinar, et
          iaculis risus iaculis. Vestibulum ante ipsum primis in faucibus orci
          luctus et ultrices posuere cubilia Curae; Suspendisse id dui
          consectetur elit mollis sollicitudin. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Duis sit amet purus finibus, mollis sem
          at, tempus risus.
        </p>
        <form>
          <label for="txtMyReview">My Review</label>
          <textarea id="txtMyReview" placeholder="None"></textarea>
          <input type="button" value="Submit Review" />
        </form>
      </article>
    </div>
    <div id="similar">
      <article>
        <img src="http://dummyimage.com/350x200/9/f.png" />
        <h4>Other Product <em>$22</em></h4>
        <p>
          In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.
        </p>
        <input type="button" value="Buy Now" />
      </article>
      <article>
        <img src="http://dummyimage.com/350x200/9/f.png" />
        <h4>Other Product <em>$22</em></h4>
        <p>
          In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.
        </p>
        <input type="button" value="Buy Now" />
      </article>
      <article>
        <img src="http://dummyimage.com/350x200/9/f.png" />
        <h4>Other Product <em>$22</em></h4>
        <p>
          In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.
        </p>
        <input type="button" value="Buy Now" />
      </article>
      <article>
        <img src="http://dummyimage.com/350x200/9/f.png" />
        <h4>Other Product <em>$22</em></h4>
        <p>
          In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.
        </p>
        <input type="button" value="Buy Now" />
      </article>
      <article>
        <img src="http://dummyimage.com/350x200/9/f.png" />
        <h4>Other Product <em>$22</em></h4>
        <p>
          In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.
        </p>
        <input type="button" value="Buy Now" />
      </article>
    </div>
  </section>
</section>
<footer>
  Copyright &copy; 2016 Melody Overbay
</footer>
